node_modules
npm-debug.log
Dockerfile
docker-compose.yml
.git
.gitignore
.env
.env.*
.vscode
.idea
*.md
*.log
coverage
**/node_modules
**/dist
**/build
**/.next
**/.cache
**/yarn.lock
**/package-lock.json
